div {
    border: 2px solid black;
    background-color: orchid;
    width: 300px;
    font-family: cursive;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div1 {
    color: rgb(75, 168, 115);
    font-weight: 900;
}
.div2 {
    color: #a86161;
}
.div3 {
    color: rgba(133, 0, 0, 0.5);
    font-weight: 100;
    }
.div4 {
    color: royalblue;
    font-weight: bold;
    }

span[gama-academy] {
    color: chartreuse;
    font-weight: bolder;
    font-size: xx-large;
    display: flex;                  /**LEMBRAR FLEX**/
    flex-direction: row-reverse;
}
#myInput:hover {                    /**pseudo classe (referencia algum estado q o elemento esta
                                            como quando passa o mouse por cima (x) ou esta ativo ()**/
    background-color: coral;
}
.div2::first-letter {               /**pseudo elemento**/
    font-size: 30px;
}