html{
    scroll-behavior: smooth;
}

.comum {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.bottonRight {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.background {
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-size: contain;
}

.background2 {
    background-image: url(./assets/BG.png);
}

.palavras {
    font-family: 'indie flower', sans-serif;
    font-size: 25px;
    font-weight: bold;
    
    margin-right: 400px;
    text-align: center;
}

.allform {
    background-image: url(./assets/background.jpg);
    border-radius: 25px;
    padding: 100px;
    max-width: 450px;
}

.allform:hover{
    background-image: url(./assets/BG.png);
}

form {
    display: grid;
}

.formtx {
    font-family: 'indie flower', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 65px;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black
}

.nome:hover{
    background-image: url(./assets/background.jpg);
}

.email:hover{
    background-image: url(./assets/background.jpg);
}

.cadastro:hover {
    cursor: pointer;
    background-image: url(./assets/background.jpg);
}

.almost {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'indie flower', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    background-image: url(../assets/background.jpg);
}

.icon {
    width: 60px;    
}
